%form{action: "/supersecretentrypage", method: "post"}
  %p 
    %input{name: "title", value:"", placeholder: "Title"}
  %p 
    %input{name: "content", value: "", placeholder: "Content"}
  %p 
    %input{type: "submit", value: "Post"}